header {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

#logo{
    width: 12em;
}

nav{
    background:  rgba(87, 0, 33, 0.893);
    color: #ce0707;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff6600;
}

.hero-content {
    color: #0015b4;
    margin-bottom: 50px;
    border: 1px solid black;
    background-color: #43b600a3;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
