#intestation {
    font-family: "Playwrite FR Moderne", cursive;
    background-color: transparent;
}
#tabody button{
    font-family: "Playwrite FR Moderne", cursive;
}

table{
    border-radius: 10%;
    
}

#table {
display: flex;
justify-content: center;
}