.tables-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 30px;
}

.tables-container section {
  flex: 1;
  max-width: 45%;
}

.table {
  width: 100%; 
}

@media (max-width: 768px) {
  .tables-container {
    flex-direction: column;
  }
}

.tradeContainer {
    background: linear-gradient(135deg,  #43b600a3, rgba(7, 84, 0, 0.893));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin: auto;
    margin-bottom: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #132d83;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Playwrite FR Moderne";
    margin-top: 20px;
  }

  button:hover {
    background-color: #21df2a;
    color: black;
    transform: scale(1.10);
  }

  label {
    font-family: "Playwrite FR Moderne";
  }

  form {
    justify-content: center;
  }

 
  
  