.container{
    display: flex;
    align-items: center;
}

p{
    text-align: center;
    font-family: "Playwrite FR Moderne";
    font-size: 2em;
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    margin: 0;
    margin-bottom: 2em;
}

.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px; /* Bordi smussati per l'ultima riga, prima cella */
}

.table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0; /* Bordi smussati per l'ultima riga, ultima cella */
}

.table th:first-child {
    border-radius: 10px 0 0 0; /* Bordi smussati per l'intestazione, prima cella */
}

.table th:last-child {
    border-radius: 0 10px 0 0; /* Bordi smussati per l'intestazione, ultima cella */
}