<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Benvenuti su ReShare</h5>
      <p class="card-text">la piattaforma dedicata allo scambio di oggetti usati all'interno di un'economia circolare. La nostra missione è promuovere la sostenibilità e ridurre gli sprechi, offrendo a tutti la possibilità di dare nuova vita agli oggetti che non utilizzano più. Su ReShare, crediamo che ogni oggetto meriti una seconda possibilità e che, insieme, possiamo contribuire a un futuro più verde e responsabile. Unisciti a noi nella nostra missione per un mondo migliore, dove il riuso e la condivisione diventano la norma. ReShare: condividi, scambia, rispetta il pianeta.</p>
      <div class="button-container">
        <button class="btn" routerLink= "/last">Vai alle ultime offerte</button>
    </div>
    </div>
    <div class="card-footer text-body-secondary">
      condividi, scambia, rispetta il pianeta
    </div>
  </div>
